
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-transparent font-inter  overflow-x-hidden;
 
  height: 100%;
  margin: 0;
  padding: 0;
}


@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px] backdrop-blur bg-white/40;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
}
